.log_sign
{
    width: 40%;
    display: block;
  margin-right: auto;
  margin-left: auto;
}

.well
{
  width: 80%;
  padding-left: auto;
  background-color: black !important;
    padding-left:10% ;
}